---
layout: default
title: Daniel Cestari
---

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Blog</li>
</ol>

<div class="row">
  <div class="col-sm-8">
    <h2>Blog</h2>
    <p class="lead">Bits about Software Development and Systems Administration</p>

    <div class="posts">
      {% for post in paginator.posts %}
      <div class="post">
        <h3><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date_to_string }}</small></h3>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">Read more →</a>
      </div>

      <hr />
      {% endfor %}

      <p class="text-center">Page {{ paginator.page }} of {{ paginator.total_pages }}</p>

      <ul class="pager">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <li class="previous"><a href="/blog" class="previous">&larr; Previous</a></li>
          {% else %}
            <li class="previous"><a href="/blog/page{{ paginator.previous_page }}" class="previous">&larr; Previous</a></li>
          {% endif %}
        {% else %}
          <li class="previous disabled"><span>&larr; Previous</span></li>
        {% endif %}

        {% if paginator.next_page %}
          <li class="next"><a href="/blog/page{{ paginator.next_page }}" class="next">Next &rarr;</a></li>
        {% else %}
          <li class="next disabled"><span>Next &rarr;</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
